<div class="title">
  My account
</div>

<div class="feat_prod_box_details">
  <p class="details">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud.
  </p>

  <div class="contact_form">
    <div class="form_subtitle">login into your account</div>
    <form [formGroup]="loginForm" (ngSubmit)="save()">
      <div class="form_row">
        <label class="contact"><strong>Email:</strong></label>
        <input type="email" formControlName="email" class="contact_input" />
      </div>

      <div class="form_row">
        <label class="contact"><strong>Password:</strong></label>
        <input type="password" formControlName="password" class="contact_input" />
      </div>

      <div class="form_row">
        <div class="terms">
          <a routerLink="/register">Register Now</a>
        </div>
      </div>

      <div class="form_row">
        <input type="submit" class="register" value="Login" />
      </div>
    </form>
  </div>
</div>

<div class="clear"></div>
