<div class="title">
  <span class="title_icon"
    ><img src="images/bullet1.gif" alt="" title="" /></span
  >Register
</div>

<div class="feat_prod_box_details">
  <p class="details">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud.
  </p>

  <div class="contact_form">
    <div class="form_subtitle">create new account</div>
    <form [formGroup]="addAccountForm" (ngSubmit)="save()">
      <div class="form_row">
        <label class="contact"><strong>First Name:</strong></label>
        <input type="text" formControlName="firstName" class="contact_input" required/>
        <div>
          <div *ngIf="addAccountForm.get('firstName').touched">
            <label *ngIf="addAccountForm.hasError('required', 'firstName')" style="color: red">FirstName is required</label>
          </div>
        </div>
      </div>
      <div class="form_row">
        <label class="contact"><strong>Last Name:</strong></label>
        <input type="text" formControlName="lastName" class="contact_input" required/>
        <div>
          <div *ngIf="addAccountForm.get('lastName').touched">
            <label *ngIf="addAccountForm.hasError('required', 'lastName')" style="color: red">LastName is required</label>
          </div>
        </div>
      </div>
      <div class="form_row">
        <label class="contact"><strong>Email:</strong></label>
        <input type="email" formControlName="email" class="contact_input" required/>
        <div *ngIf="addAccountForm.get('email').touched">
          <label *ngIf="addAccountForm.hasError('required', 'email')" style="color: red">Email is required</label>
        </div>
      </div>
      <div class="form_row">
        <label class="contact"><strong>Password:</strong></label>
        <input type="password" formControlName="password" class="contact_input" required/>
        <div *ngIf="addAccountForm.get('password').touched">
          <label *ngIf="addAccountForm.hasError('required', 'password')" style="color: red">Password is required</label>
        </div>
      </div>
      <div class="form_row">
        <label class="contact"><strong>Phone:</strong></label>
        <input type="text" formControlName="phone" class="contact_input" required/>
        <div *ngIf="addAccountForm.get('phone').touched">
          <label *ngIf="addAccountForm.hasError('required', 'phone')" style="color: red">Phone is required</label>
        </div>
      </div>
      <div class="form_row">
        <label class="contact"><strong>Gender:</strong></label>
        <label *ngFor="let option of genderOptions" style="padding-right: 10px;">
          <input type="checkbox" [value]="option" (change)="onGenderCheckboxChange(option)" [checked]="option === gender.value" />
          {{ option }}
        </label>
      </div>
      <div class="form_row">
        <div class="terms">
          <input type="checkbox" name="terms" /> I agree to the
          <a href="#">terms &amp; conditions</a>
        </div>
      </div>

      <div class="form_row">
        <input type="submit" [disabled]="addAccountForm.invalid" value="Register" />
      </div>
    </form>
  </div>
</div>

<div class="clear"></div>
